.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
*.docx
ortho/*missing.tsv
ortho/_00-notes*
ortho/READ*.html
ortho/README_files/*
ortho/*errors.tsv
ortho/*_strings.tsv
ortho/*copy-old.tsv
ortho/*skeleton-old.tsv
ortho/*doubled*
*04-orthography-profiling.R
SIGUL*pressed.pdf
.pdf
.xlsx
test.txt
wordlist/
CHECK-TO-DO*
docs/*
enolex/rsconnect/*
notes.txt
index.qmd
about.qmd

